{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "htmlWhitespaceSensitivity": "css",
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindAttributes": ["class", "ngClass"],
  "tailwindFunctions": ["clsx", "cn", "twMerge"],
  "singleAttributePerLine": false,
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "parser": "angular"
      }
    },
    {
      "files": ["*.component.ts"],
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
